<%- include("header.ejs") %>
<h1 class="title">About me</h1>
<img class="profile" src="/images/ayaz.jpeg" alt="profile_img" />
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla velit
  amet perferendis accusantium eaque saepe quae maiores, voluptatem itaque,
  voluptates pariatur ducimus minus quis quasi excepturi quisquam. Eos, odit?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptatum
  ad qui fugit quis aspernatur voluptatem officia. In quibusdam id facilis
  facere, explicabo laudantium suscipit placeat at sed quis sit.
</p>
<%- include("footer.ejs") %>
