<%- include("header.ejs") %>
<h1>Conatct me</h1>
<form action="/log" method="post">
  <input name="name" type="text" class="feedback-input" placeholder="Name" required/>
  <input name="email" type="text" class="feedback-input" placeholder="Email" required/>
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="submit" />
</form>
<%- include("footer.ejs") %>
