<%- include("header.ejs") %>
<div class="main">
  <h1 class="title">Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi assumenda
    accusamus possimus magni officia quod, vitae recusandae doloribus delectus
    quasi dignissimos dolorum consectetur quaerat ipsum voluptatum illum, nam
    veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi
    assumenda accusamus possimus magni officia quod, vitae recusandae doloribus
    delectus quasi dignissimos dolorum consectetur quaerat ipsum voluptatum
    illum, nam veniam.
  </p>

  <p>
    Ullam corrupti soluta dolorem adipisci fugiat quaerat nam voluptas facilis,
    voluptatem ipsam voluptate incidunt sit vel cum ut enim dolores ipsa sunt,
    sequi, minima assumenda dignissimos dolorum vero numquam? Lorem ipsum dolor
    sit amet consectetur adipisicing elit. At sequi assumenda accusamus possimus
    magni officia quod, vitae recusandae doloribus delectus quasi dignissimos
    dolorum consectetur quaerat ipsum voluptatum illum, nam veniam. Culpa!
  </p>
</div>
<%- include("footer.ejs") %>
