<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submited</title>
</head>
<body>
    <h1>Hey, <%= fname %> There are <%= str %> letter in your name</h1>
</body>
</html>